<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" id='{{data.modalHeaderColor}}'>
            <button type="button" class="close" data-dismiss="modal" ng-click="modalData.clearAllFormData(1)">&times;</button>
            <h4 class="modal-title">Add Data line</h4>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <div class="col-lg-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">

                    <form novalidate="" name="dataline">

                        <div ng-show='data.dataline.responseStatus' ng-class="{ 'has-error' : true}" class='text-center alert btn-sm  alert-danger'>
                            {{data.dataline.responseMessage}}</div>   

                        <div class="form-group" style="padding:10px;"  ng-class="{ 'has-error' : dataline.code.$invalid && !dataline.code.$pristine }">
                            <label for="code" class="control-label col-md-4 col-lg-4">Code</label>
                            <div class="col-md-8 col-lg-8 ">
                                <input type="text" readonly class="form-control" placeholder="{{data.modalHeader|lowercase}} code" name='code'

                                       required  ng-model='data.dataline.code'/>
                            </div>
                        </div>

                        <div class="form-group" style="padding:10px;" ng-class="{ 'has-error' : dataline.serialNumber.$invalid && !dataline.serialNumber.$pristine }">
                            <label for="serialNumber" class="control-label col-md-4 col-lg-4">SIM Serial</label>
                            <div class="col-md-8 col-lg-8">
                                <input type="text" class="form-control" ng-click="modalData.genSimCode()" 
                                        placeholder="serialNumber" name='serialNumber' required ng-model='data.dataline.serialNumber'/>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px;" ng-class="{ 'has-error' : dataline.simNumber.$invalid && !dataline.simNumber.$pristine }">
                            <label for="simNumber" class="control-label col-md-4 col-lg-4">SIM Number</label>
                            <div class="col-md-8 col-lg-8">
                                <input type="text" class="form-control" placeholder="sim card Number" name='simNumber'  ng-pattern="/[0]{1}[7]{1}[0-9]{8}/"
                                       required ng-model='data.dataline.simNumber'/>
                            </div>
                        </div>
 
                        <div class="form-group" style="padding:0px;" ng-class="{ 'has-error' : dataline.provider.$invalid && !dataline.provider.$pristine }">
                            <label for="provider" class="control-label col-md-4 col-lg-4">Provider</label>
                            <div class="col-md-8 col-lg-8">
                                <select class="form-control" name='provider' required  ng-model='data.dataline.provider'>
                                    <option disabled selected>--SELECT PROVIDER--</option>
                                    <option>Safaricom</option>
                                    <option>Airtel</option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group col-sm-12 " style="padding:10px;">
                            <label for="extras" class="control-label col-md-4 col-lg-4"></label>
                            <div class="col-md-8 col-lg-8">
                                <button class=" btn " id="{{data.modalHeaderColor}}" style='width:100%'
                                        ng-click="modalData.globalSettingsSave(data.dataline, 'TBL_DATALINES')"
                                        ng-disabled="dataline.$invalid"
                                        >Save Dataline</button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        </div>
    </div>

</div>