<div class='main-div' ng-controller="modalsController" ng-init="modalData.getGlobalData('TBL_CERTIFICATES')">
    <div>
        Certificates Approval
        <div class="input-group col-md-12 col-lg-12" ng-controller="ticketsController">

            <input type="text" class="form-control " ng-model="searchText"
                                    placeholder ="Enter Certificate Number">
                   <div class="col-md-12" >
                <ul class="list-group">
                    <li class="list-group-item"  ng-repeat="certificate in  modalData.fetchCurrentData|filter : searchText| limitTo: 10">
                        <a href="#/reprint" class="" target="_self" ng-click="modalData.reprintCertificate(certificate.vehicleId, certificate.duration)">  {{certificate.certNo}}  </a>
                        <span class="pull-right">Date Created : {{data.convertToHumanTime(certificate.dateCreated)}}</span></li>
                    <span class="pull-right">Customer Name: {{certificate.name}}}</span></li>
                </ul>
            </div>


        </div>
    </div>
</div>
<!--
<article ng-app="angularSlideables">
<h1 slide-toggle="#derp" >Click here for Hipster Ipsum.</h1>
<div id="derp" class="slideable">
    <p>Bespoke aesthetic Bushwick craft beer. Qui aesthetic butcher, cardigan ex scenester Neutra American Apparel mumblecore.</p>
    <p>Ethical adipisicing before they sold out, sriracha Thundercats cardigan dolor deep v placeat. Flannel tattooed meggings direct trade banh mi tousled sriracha. Portland VHS ut dreamcatcher. Butcher eu irony, Banksy leggings eiusmod Pinterest hashtag Etsy asymmetrical lo-fi Helvetica quis incididunt adipisicing. YOLO cliche minim mlkshk dreamcatcher excepteur, Austin McSweeney's.</p>
    <p>Coded @ Kinfolk Studios in Williamsburg, Brooklyn, 2013.</p>
</div>
<p>Your fresh artisinal Ipsum will appear above this paragraph. </p>
</article>


-->