<div class="panel panel-default" ng-controller="modalsController">
    <div class="panel panel-heading">
        Change Password
    </div>
    <div class="panel panel-body" ng-controller="ticketsController">
        <div class='login'>

            <form novalidate="" name="loginData">

                <div ng-show='data.loginData.responseStatus' 
                     ng-class="{ 'has-error' : true}" class='text-center alert btn-sm  alert-danger'>{{data.loginData.responseMessage}}</div>   

                <div class="input-group" style="padding:10px;"  ng-class="{ 'has-error' : loginData.password.$invalid && !loginData.password.$pristine }">
                    <span class="input-group-addon"><i class='fa fa-lock'></i></span>
                    <input type="password" class="form-control" placeholder="New Password" name='password' ng-change="modalData.returnStrength(data.password)"

                           required  ng-model='data.password'/>

                </div>
                <i class="{{modalData.color}}"> {{modalData.changePasswordMessage}}</i>
                <div class="input-group" style="padding:10px;" ng-class="{ 'has-error' : loginData.confirmPassword.$invalid && !loginData.confirmPassword.$pristine
                                    || data.confirmPassword != data.password}">
                    <span class="input-group-addon"><i class='fa fa-lock'></i></span>
                    <input type="password" class="form-control" placeholder="New Confirm Password" name='confirmPassword' required ng-model='data.confirmPassword'/>
                </div>

                <div class="input-group col-sm-12 " style="padding:10px;">
                    <button class=" btn btn-success " style='width:100%'
                            ng-click='modalData.updatePassword(data.password)' ng-disabled="loginData.$invalid || data.confirmPassword != data.password"
                            >Save Password</button>
                </div>    
            </form>
        </div>
    </div>
</div>