<div class="panel panel-default" ng-controller="ticketsController">
    <div class="panel-heading" ng-controller="modalsController">{{modalData.allCustomers.length}} Customers 
        <spinner></spinner>
    </div>
    <div class="panel-body">
        <!--     <table class="table table-responsive  table-striped" ng-show="modalData.hideTableTillResponse">
     
                 <thead>
                     <tr>
                        
                         <th nowrap ng-click="data.sortByColumnFxn('code')">Id No</th>
                         <th nowrap ng-click="data.sortByColumnFxn('name')">Customer Name</th>
                         <th nowrap ng-click="data.sortByColumnFxn('accountId')">Account ID</th>
                         <th nowrap  ng-click="data.sortByColumnFxn('mobile_1')">Contact</th>
                         <th nowrap ng-click="data.sortByColumnFxn('idNo')">Id No</th>
                         <th nowrap ng-click="data.sortByColumnFxn('email')">Mail</th>
                         <th ng-click="data.sortByColumnFxn('id')">Branch Id</th>
                     </tr>    
                 </thead>
                 <tbody>
                     <tr ng-repeat="customer in data.allCustomersData| filter : modalData.searchText| limitTo : 500 | orderBy :data.sortByColumn">
                         
                         <td nowrap>{{customer.code}}</td>
                         <td nowrap>{{data.custString(customer.name,25)}}</td>
                         <td nowrap>{{customer.accountId}}</td>
                         <td nowrap>{{data.custString(customer.mobile_1,25)}}</td>
                         <td nowrap>{{customer.idNo}}</td>
                         <td nowrap>{{customer.email}}</td>
     
                         <td nowrap>{{modalData.getUserName(customer.createdBy)}}</td>
                         <td ng-hide="modalData.hideCode"> {{customer.extras}}</td>
                         <td><div class="dropdown">
                                 <a href="#/" data-toggle="dropdown" target="_self"><i class="fa fa-sliders"></i>
                                     <span class="caret"></span></a>
                                 <ul class="dropdown-menu pull-left">
                                     <li><a href="#/" 
                                            ng-click="modalData.deactivateRecord(customer.id, 'TBL_CUSTOMERS', 2)">Delete</a></li>
                                     <li><a href="#/"
                                            ng-click="modalData.editFunction(customer.id, 'TBL_CUSTOMERS', 3)"
                                            >Edit</a></li>
                                     <li><a href="#/"
                                            ng-click="modalData.deactivateRecord(customer.id, 'TBL_CUSTOMERS', 0)" ng-show="customer.status == 1">Deactivate</a></li>
                                     <li><a href="#/" 
                                            ng-click="modalData.deactivateRecord(customer.id, 'TBL_CUSTOMERS', 1)"
                                            ng-hide="customer.status == 1">Activate</a></li>
                                     <li><a href="#/customerReports?id={{customer.id}}" target="_self" ng-click="modalData.closeModal(customer.id, customer.name)"
     
                                            >Reports</a></li>
                                 </ul>
                             </div></td>
                     </tr>
                 </tbody>    
             </table>
        
        --->

        <div class="" id="printArea">
            <div ng-include="'partialViews/customerHomePage.html'" >

            </div>
        </div>

    </div>
</div>     